
$black: #000;

$green-sn: #62d84e;
$green-sn-text: #293e40;

$link-color: $green-sn-text !default;

a {
  color: $link-color;
  text-decoration: none;
}

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  _background-color: #022D42; /* */
  _background-color: #90CCD3; /* */
  background-color: #C4D9DF;
}

.aes_button {
  display: inline-block;
  background-color: #01778e;
  color: #fff;
  border-radius: 12px;
  vertical-align: middle;
  padding-right: 0.56em;
  padding-left: 0.56em;
  cursor: text;
}
.btn-green-sn {
    @include btn-color($black, $green-sn);
}