
$black: #000;

$green-sn: #62d84e;
$green-sn-text: #293e40;

$link-color: $green-sn-text !default;

:root[data-theme=brand-evolution] {
  --brand-green: #86ed78;
  --brand-green-darker: #62d84e;
  --brand-blue: #032d42;
  --brand-blue-lighter: #1a5d68;
  --brand-black: #000;
  --brand-gray: #999;
  --btn-border-radius: 6px;
  --brand-opacity: 0.5;
}


a {
  color: $green-sn-text !important;
  background: linear-gradient(90deg,var(--brand-green-darker,var(--acapulco)) 50%,transparent 0);
  text-decoration-color: $green-sn;
}

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  _background-color: #022D42; /* */
  _background-color: #90CCD3; /* */
  background-color: #C4D9DF;
}

.aes_button {
  display: inline-block;
  background-color: #01778e;
  color: #fff !important;
  border-radius: 12px;
  vertical-align: middle;
  padding-right: 0.56em;
  padding-left: 0.56em;
  cursor: text;
}
.btn-green-sn {
    @include btn-color($black, $green-sn);
}